---
layout: default
title: Blog
---
<h3>Latest Projects</h3>

<div class="row">
<ul>
  {% for post in site.posts %}
	    <div class="col s12 m6">
	    <a href="{{ post.url | prepend: site.baseurl }}">
	      <div class="card">
	        <div class="card-image">
	        	<div class="image-cont">
		          <img src="assets/images/{{ post.image }}" >
		        </div>
		        <span class="card-title">{{ post.title }}</span>
	        </div>
	        <div class="card-content">
	        	<div class="card-main">
		        	<div class="card-date">
		        		{{post.date | date_to_string}}
		        	</div>
		           <p>{{ post.excerpt }}</p>
		       </div>
	           <div class="card-tags">
	           		{% for tag in post.tags %}
	           		<a class="waves-effect waves-light btn-small secondary-color">{{tag}}</a>
	           		{% endfor %}
	           </div>
	        </div>
	      </div>
	      </a>
	    </div>
  {% endfor %}
</ul>
</div>